@using NurseryGardenApp.ViewModels.Order;
@model IEnumerable<OrderViewModel>;

<h2>My Orders</h2>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Product</th>
			<th>Order Date</th>
			<th>Price</th>
			<th>Name</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var order in Model)
		{
			<tr>
				<td>
					<img src="@order.Picture" alt="Product Image" class="img-fluid rounded" style="max-width: 100px;" />
				</td>
				<td>@order.OrderDate.ToString("dd/MM/yyyy")</td>
				<td>@order.Price.ToString("C")</td>
				<td>
					<ul>
						@foreach (var productName in order.ProductNames)
						{
							<li>@productName</li>
						}
					</ul>
				</td>
			</tr>
		}
	</tbody>
</table>

<h2>Total price: @Model.FirstOrDefault()?.TotalPrice.ToString("C")</h2>