@using NurseryGardenApp.ViewModels.Product;
@model IEnumerable<AllProductsManageViewModel>;
@using Microsoft.AspNetCore.Identity;
@inject UserManager<ApplicationUser> userManager

@{
	var user = await userManager.GetUserAsync(User);
	var isAdmin = user != null && await userManager.IsInRoleAsync(user, "Admin");
	var isManager = user != null && await userManager.IsInRoleAsync(user, "Manager");
}

<h2 class="my-4 text-center">Manage products</h2>

<div class="d-flex justify-content-end mb-4">
	<a asp-action="Create" class="btn btn-success btn-lg">
		<i class="bi bi-plus-circle"></i> Add New Product
	</a>
</div>

<table class="table table-hover table-bordered">
	<thead class="table-dark">
		<tr>
			<th scope="col">Name</th>
			<th scope="col">Category</th>
			<th scope="col">Price</th>
			<th scope="col">Quantity</th>
			<th scope="col" class="text-center">Actions</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var product in Model)
		{
			<tr>
				<td>@product.Name</td>
				<td>@product.CategoryName</td>
				<td>$@product.Price</td>
				<td>@product.Quantity</td>
				<td class="text-center">
					<a asp-action="Edit" asp-route-id="@product.Id" class="btn btn-primary btn-sm me-2">
						<i class="bi bi-pencil-square"></i> Edit
					</a>
					<a asp-action="Delete" asp-route-id="@product.Id" class="btn btn-danger btn-sm">
						<i class="bi bi-trash"></i> Delete
					</a>
				</td>
			</tr>
		}
	</tbody>
</table>

<div class="text-center mt-4">
	@if (isAdmin)
	{
		<a href="@Url.Action("Index", "Home", new { area = "Admin" })" class="btn btn-secondary btn-lg">
			Back to dashboard
		</a>
	}
	else if (isManager)
	{
		<a href="@Url.Action("Index", "Category")" class="btn btn-secondary btn-lg">
			Back to categories
		</a>
	}
</div>