@using Microsoft.AspNetCore.Identity
@using NurseryGardenApp.ViewModels.Category;
@model IEnumerable<AllCategoriesIndexViewModel>;

@inject UserManager<ApplicationUser> userManager

@{
	var user = await userManager.GetUserAsync(User);
	var isAdmin = user != null && await userManager.IsInRoleAsync(user, "Admin");
	var isManager = user != null && await userManager.IsInRoleAsync(user, "Manager");
}

<h2 class="my-4 text-center">Manage categories</h2>

<div class="d-flex justify-content-end mb-4">
	<a asp-action="Create" class="btn btn-success btn-lg">
		<i class="bi bi-plus-circle"></i> Add New Category
	</a>
</div>

<table class="table table-hover table-bordered">
	<thead class="table-dark">
		<tr>
			<th scope="col">Name</th>
			<th scope="col">Class ID</th>
			<th scope="col" class="text-center">Class</th>
			<th scope="col">Actions</th>
		</tr>
	</thead>
	<tbody>
		@if (Model != null && Model.Any())
		{
			@foreach (var category in Model)
			{
				<tr>
					<td>@category.Name</td>
					<td>@(category.ClassId.HasValue ? category.ClassId.Value.ToString() : "No specific class")</td>
					<td>@category.ClassName</td>
					<td class="text-center">
						<a asp-action="Edit" asp-route-id="@category.Id" class="btn btn-primary btn-sm me-2">
							<i class="bi bi-pencil-square"></i> Edit
						</a>
						<a asp-action="Delete" asp-route-id="@category.Id" class="btn btn-danger btn-sm">
							<i class="bi bi-trash"></i> Delete
						</a>
					</td>
				</tr>
			}
		}
		else
		{
			<tr>
				<td colspan="3" class="text-center text-muted">
					No categories found.
				</td>
			</tr>
		}
	</tbody>
</table>

<div class="text-center mt-4">
	@if (isAdmin)
	{
		<a href="@Url.Action("Index", "Home", new { area = "Admin" })" class="btn btn-secondary btn-lg">
			Back to dashboard
		</a>
	}
	else if (isManager)
	{
		<a href="@Url.Action("Index", "Category")" class="btn btn-secondary btn-lg">
			Back to categories
		</a>
	}
</div>